
header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
  }

h1{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

p{
    text-align: center;
    font-size: 28px;
}
.highscore{
  float: left;
}

.timer{
  float: right;
  display: block;
}
.card {
    display: none;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
  }
  
.card-body {
    min-height: 100px;
}
  
.card-footer {
    text-align: center;
    min-height: 100px;
  }
hr{
  color: slategrey;
  line-height: 1px;
}

/* .card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #ffffff;
    height: 2px;
  }
   */
/* .card-footer::after {
    content: " ";
    display: block;
    clear: both;
  }


   */
/* button{
    border: none;
    
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  } */
.container {
    height: 100%;
    margin: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.button{
  background-color: purple;
  color: #ffffff;
  text-align: center;
  height: 60px; 
  width: 80px; 
  margin: auto; 
}

#text1{
  text-align: center;
}

#text2{
  text-align: left;
}

