header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
  }

h1{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

p{
    text-align: center;
    font-size: 28px;
}
.highscore{
  float: left;
}

.timer{
  float: right;
  display: block;
}

.container {
    height: 100%;
    margin: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.button{
  background-color: purple;
  color: #ffffff;
  text-align: center;
  height: 60px; 
  width: 80px; 
  margin: auto; 
}


